*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}
:root{
    --green: #465a3d;
    --orange: #C7923E;
    --white: #FFFFFF;
    --black: #000000;
    --red: #C73131;
    --smooth: #a6ab8a;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #f5f5f5;
}

   /* header is here */

header{
    width: 100%;
    height: 10%;
    background-color: var(--green);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 2%;
}
header .contact{
    display: flex;
    gap: 1.3rem;
    margin-left: 2%;
}
header .contact div i,a{
    color: var(--white);
    text-decoration: none;
}
header .contact div a:hover{
    color:var(--orange);
}
header .social{
    display: flex;
    gap: 10px;
    color: var(--white);
    font-size: 1.5rem;
    margin: 0.5rem 0rem;
    margin-right: 6%;
}
header .social i{
    cursor: pointer;
}
header .social i:hover{
    color: var(--orange)
}

    /* main nav bar is here */

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .nav{
    width: 60%;
    height: 6em;
    
}
main .nav div{
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-left: 3rem;
}
.nav nav{
    display: flex;
    gap: 1.3rem;
}
.nav nav ul{
    font-weight: 500;
    cursor: pointer;
}
.active{
    color: var(--green);
    font-weight: 600;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav button{
    width: 15%;
    height: 1.8rem;
    margin-top: 1rem;
    background-color: var(--orange);
    border: 1.5px solid var(--green);
    border-radius: 10px;
    color: var(--green);
    font-size: 1rem;
}

/* main home image is here */

.home-img{
    width: 100%;
    height: 55vh;
    background-image: url("/public/img/home-svg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* contact form is here */

main .contact-form{
    width: 60%;
    height: 100vh;
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .contact-form p{
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 400;
}

main .contact-form .form-cont{
    width: 80%;
    width: 80%;
    height: 60vh;
    border: 1px solid silver;
    border-radius: 10px;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .contact-form form{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
}
main .name-cont{
    display: flex;

    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
main .tel select{
    width: 20%;
}
textarea{
    resize: none;
    border: 1px solid silver;
    font-size: 1rem;
    border-radius: 3px;
    padding: 5px 5px;
}
button{
    width: 20%;
    height: 8%;
    border-radius: 10px;
    border: none;
    background-color: var(--orange);
    color: var(--white);
    font-size: 1rem;
    font-weight: 500;
}

#fName,#lName{
    padding: 0 5px;
    width: 21rem;
    height: 2rem;
    font-size: 1rem;
    border: 1px solid silver;
    border-radius: 3px;
}


#email,#tel{
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    border: 1px solid silver;
    border-radius: 3px;
}

main .contact-form form label{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* contact cards in here */

main .why-with{
    width: 60%;
    height: 40%;
}
main .why-cards{
    width: 100%;
    height: 14rem;
    display: flex;
    justify-content: space-around;
}
main .why-cards .why-card{
    width: 30%;
    height: 100%;
    background-color: var(--white);
    box-shadow: 2px 2px 5px var(--black);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
}
main .why-cards .why-card i{
    font-size: 2.5rem;
    color: var(--white)

}
main .why-cards .why-card p{
    font-size: 1.2rem;
    color: var(--white);
    text-align: center;
}



/* footer is here */

footer{
    width: 100vw;
    height: 50vh;
    background-color: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3% 0 5% 0;
    margin-top: 5%;
  }
  .foot-cont{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  .foot-cont .left-side{
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .foot-cont .left-side h1{
    font-size: 2rem;
    font-weight: 700;
  }
  .foot-cont .left-side p{
    font-size: 1.1rem;
    font-weight: 400;
  }
  .foot-cont .left-side h2{
    font-size: 1.5rem;
    font-weight: 700;
  }
  .foot-cont .left-side input{
    padding: 10px 20px;
    border: 1px solid silver;
    border-radius: 10px;
    margin-top: 2%;
    margin-right: 2%;
  }
  .foot-cont .left-side button{
    font-size: 1rem;
    height: 50%;
    background-color: var(--orange);
    color: var(--white);
    border: none;
    border-radius: 10px;
    padding: 2% 2%;
    cursor: pointer;
  }
  
  .foot-cont .rigth-side{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }
  .foot-cont .rigth-side h1{
    font-size: 2rem;
    color: var(--white);
  
  }
  .foot-cont .rigth-side .a{
    width: 80%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }
  .foot-cont .rigth-side .a a{
    border-bottom: 1px solid silver;
    margin: 0 0.5rem;
  }