*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}
:root{
    --green: #465a3d;
    --orange: #C7923E;
    --white: #FFFFFF;
    --black: #000000;
    --red: #C73131;
    --smooth: #a6ab8a;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #f5f5f5;
    width: 99vw;
}

   /* header is here */

header{
    width: 100%;
    height: 50px;
    background-color: var(--green);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0px;
    z-index: 10000;
}
header .contact{
    display: flex;
    gap: 1.3rem;
}
header .contact div i,a{
    color: var(--white);
    text-decoration: none;
}
header .contact div a:hover{
    color:var(--orange);
}
header .social{
    display: flex;
    gap: 10px;
    color: var(--white);
    font-size: 1.5rem;
    margin: 0.5rem 0;
}
header .social i{
    cursor: pointer;
}
header .social i:hover{
    color: var(--orange)
}

    /* main nav bar is here */

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .nav{
    width: 60%;
    height: 6em;
    
}
main .nav div{
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-left: 3rem;
}
.nav nav{
    display: flex;
    gap: 1rem;
}
.nav nav ul{
    font-weight: 500;
    cursor: pointer;
}
.active{
    color: var(--green);
    font-weight: 600;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav button{
    width: auto;
    height: 1.8rem;
    margin-top: 1rem;
    background-color: var(--orange);
    border: 1.5px solid var(--green);
    border-radius: 10px;
    color: var(--green);
    font-size: 1rem;
}

 /* hamburger menu is here */

 #menuToggle
 {
   display: none;
   position: relative;
   z-index: 1;
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a
 {
   text-decoration: none;
   color: #232323;
   
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover
 {
   color: var(--orange);
 }
 
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: var(--green);
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: var(--orange);
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: absolute;
   top: 65px;
   width: 100vw;
   height: 100vh;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background: var(--white);
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }

/* main home image is here */

.home-img{
    width: 100%;
    height: 85vh;
    background-image: url("/public/img/home-svg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Information or facts about Mongolia is here */

.info-mongolia{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* information title is here */
.information{
    text-align: center;
    font-size: 2rem;
}
main .p1{
    font-family: 'Roboto';
    font-weight: 700;
    color: var(--orange);
    font-size: 2rem;
    line-height: 120%;
    letter-spacing: 0.005em;
    text-align: center;
    margin-top: 3rem;
}
main .p2{
    font-family: 'Roboto';
    font-weight: 700;
    color: var(--black);
    font-size: 3rem;
    line-height: 120%;
    letter-spacing: 0.005em;
    text-align: center;
    margin-top: 1.3rem;
}
main .a1{
    color: var(--black);
    font-size: 3rem;
}

/* information cards are here! */

figure{
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
}
.info-card-img{
    object-fit: cover;
}
.info-images{
    margin-top: 36px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1.3fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}
.info-images img{
    width: 100%;   
    height: 100%;
    object-fit: cover; 

}


/* information image - uudiin gridiig taaruulsan heseg endees */

.info-images p{
    opacity: 0;
    transition: 0.6s linear;
    margin-top: -10px;
}

.hover-card-1{
    position: relative;
    grid-column: 1;
    grid-row: 1 ;
    transition: 0.4s linear;
}
.hover-card-1:hover .text-info{
    justify-content: center;
    align-items: center;
    transition: 0.4s linear;
    position: absolute;
    opacity: 1;
}
/* .hover-card-1:hover .text-broder{
    transform: scale(1.1);
    opacity: 1;
    transition: 0.3s linear;
} */
.hover-card-1:hover p{
    opacity: 1;
    transition: 0.7s linear;
    margin-top: 10px;
}
.hover-card-2{
    position: relative;
    grid-column: 4 / span 2;
    grid-row: 1;
}
.hover-card-2:hover .text-info-2{
    justify-content: center;
    align-items: center;
    transition: 0.4s linear;
    position: absolute;
    opacity: 1;
}
.hover-card-2:hover p{
    opacity: 1;
    transition: 0.7s linear;
    margin-top: 10px;
}
.hover-card-3{
    position: relative;
    grid-column: 2 ;
    grid-row: 1;
}
.hover-card-3:hover .text-info-3{
    justify-content: center;
    align-items: center;
    transition: 0.4s linear;
    position: absolute;
    opacity: 1;
}
.hover-card-3:hover p{
    opacity: 1;
    transition: 0.7s linear;
    margin-top: 10px;
}
.hover-card-4{
    position: relative;
    grid-column: 2;
    grid-row: 2;
}
.hover-card-4:hover .text-info-4{
    justify-content: center;
    align-items: center;
    transition: 0.4s linear;
    position: absolute;
    opacity: 1;
}
.hover-card-4:hover p{
    opacity: 1;
    transition: 0.7s linear;
    margin-top: 10px;
}
.hover-card-5{
    position: relative;
    grid-column: 1;
    grid-row: 3;
}
.hover-card-5:hover .text-info-5{
    justify-content: center;
    align-items: center;
    transition: 0.4s linear;
    position: absolute;
    opacity: 1;
}
.hover-card-5:hover p{
    opacity: 1;
    transition: 0.7s linear;
    margin-top: 10px;
}
.hover-card-6{
    position: relative;
    grid-column: 1;
    grid-row: 2;
} 
.hover-card-6:hover .text-info-6{
    justify-content: center;
    align-items: center;
    transition: 0.4s linear;
    position: absolute;
    opacity: 1;
}
.hover-card-6:hover p{
    opacity: 1;
    transition: 0.7s linear;
    margin-top: 10px;
}
.hover-card-7{
    position: relative;
    grid-column: 2 / span 2 ;
    grid-row: 3;
}
.hover-card-7:hover .text-info-7{
    justify-content: center;
    align-items: center;
    transition: 0.4s linear;
    position: absolute;
    opacity: 1;
}
.hover-card-7:hover p{
    opacity: 1;
    transition: 0.7s linear;
    margin-top: 10px;
}
.hover-card-8{
    position: relative;
    grid-column: 3;
    grid-row: 1 / span 2 ;
}
.hover-card-8:hover .text-info-8{
    justify-content: center;
    align-items: center;
    transition: 0.4s linear;
    position: absolute;
    opacity: 1;
}
.hover-card-8:hover p{
    opacity: 1;
    transition: 0.7s linear;
    margin-top: 10px;
}
.hover-card-9{

}
.hover-card-9:hover .text-info-9{
    justify-content: center;
    align-items: center;
    transition: 0.4s linear;
    position: absolute;
    opacity: 1;
}
.hover-card-9:hover p{
    opacity: 1;
    transition: 0.7s linear;
    margin-top: 10px;
}
.hover-card-10{
    position: relative;
    grid-column: 4 ;
    grid-row: 2;
}
.hover-card-10:hover .text-info-10{
    justify-content: center;
    align-items: center;
    transition: 0.4s linear;
    position: absolute;
    opacity: 1;
}
.hover-card-10:hover p{
    opacity: 1;
    transition: 0.7s linear;
    margin-top: 10px;
}
.hover-card-11{
    position: relative;
    grid-column: 5 ;
    grid-row: 2;
}
.hover-card-11:hover .text-info-11{
    justify-content: center;
    align-items: center;
    transition: 0.4s linear;
    position: absolute;
    opacity: 1;
}
.hover-card-11:hover p{
    opacity: 1;
    transition: 0.7s linear;
    margin-top: 10px;
}
.hover-card-12{   
    position: relative;
    grid-column: 4;
    grid-row: 3;
}
.hover-card-12:hover .text-info-12{
    justify-content: center;
    align-items: center;
    transition: 0.4s linear;
    position: absolute;
    opacity: 1;
}
.hover-card-12:hover p{
    opacity: 1;
    transition: 0.7s linear;
    margin-top: 10px;
}
.hover-card-13{
    position: relative;
    grid-column: 4 / span 2 ;
    grid-row: 4 / span 2;
}
.hover-card-13:hover .text-info-13{
    justify-content: center;
    align-items: center;
    transition: 0.4s linear;
    position: absolute;
    opacity: 1;
}
.hover-card-13:hover p{
    opacity: 1;
    transition: 0.7s linear;
    margin-top: 10px;
}
.hover-card-14{
    position: relative;
    grid-row: 3;
    grid-column: 5;
}
.hover-card-14:hover .text-info-14{
    justify-content: center;
    align-items: center;
    transition: 0.4s linear;
    position: absolute;
    opacity: 1;
}
.hover-card-14:hover p{
    opacity: 1;
    transition: 0.7s linear;
    margin-top: 10px;
}
.hover-card-15{
    position: relative;
    grid-column: 1 / span 3;
    grid-row: 4;
}
.hover-card-15:hover .text-info-15{
    justify-content: center;
    align-items: center;
    transition: 0.4s linear;
    position: absolute;
    opacity: 1;
}
.hover-card-15:hover p{
    opacity: 1;
    transition: 0.7s linear;
    margin-top: 10px;
}
.hover-card-16{
    position: relative;
    grid-row: 5;
    grid-column: 1;
}.hover-card-16:hover .text-info-16{
    justify-content: center;
    align-items: center;
    transition: 0.4s linear;
    position: absolute;
    opacity: 1;
}
.hover-card-16:hover p{
    opacity: 1;
    transition: 0.7s linear;
    margin-top: 10px;
}
.hover-card-17{
    position: relative;
    grid-column: 2 / span 2;
    grid-row: 5;
}
.hover-card-17:hover .text-info-17{
    justify-content: center;
    align-items: center;
    transition: 0.4s linear;
    position: absolute;
    opacity: 1;
}
.hover-card-17:hover p{
    opacity: 1;
    transition: 0.7s linear;
    margin-top: 10px;
}
/* hoverable cards description style here */

.text-info{
    background-color: rgba(192, 192, 192, 0.5);
    border: 1px solid #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    flex-direction: column;
    transition: 0.4s linear;
    opacity: 0;
    text-shadow: 0px 3px 5px black;
} 
.text-border{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    text-align: center;
    width: 70%;
    height: 50%;
    /* transform: scale(1);
    transition: 0.5s linear; */
    box-shadow: 3px 3px 5px black;
    cursor: pointer;
}

.text-info-2{
    background-color: rgba(192, 192, 192, 0.5);
    border: 1px solid #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    flex-direction: column;
    transition: 0.4s linear;
    opacity: 0;
    text-shadow: 0px 3px 5px black;
} 
.text-border-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    text-align: center;
    width: 70%;
    height: 50%;
    box-shadow: 3px 3px 5px black;
    cursor: pointer;
}
.text-info-3{
    background-color: rgba(192, 192, 192, 0.5);
    border: 1px solid #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    flex-direction: column;
    transition: 0.4s linear;
    opacity: 0;
    text-shadow: 0px 3px 5px black;
} 
.text-border-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    text-align: center;
    width: 70%;
    height: 50%;
    box-shadow: 3px 3px 5px black;
    cursor: pointer;
}
.text-info-4{
    background-color: rgba(192, 192, 192, 0.5);
    border: 1px solid #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    flex-direction: column;
    transition: 0.4s linear;
    opacity: 0;
    text-shadow: 0px 0px 5px black;
} 
.text-border-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    text-align: center;
    width: 70%;
    height: 50%;
    box-shadow: 3px 3px 5px black;
    cursor: pointer;
}
.text-info-5{
    background-color: rgba(192, 192, 192, 0.5);
    border: 1px solid #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    flex-direction: column;
    transition: 0.4s linear;
    opacity: 0;
    text-shadow: 0px 3px 5px black;
} 
.text-border-5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    text-align: center;
    width: 70%;
    height: 50%;
    box-shadow: 3px 3px 5px black;
    cursor: pointer;
}
.text-info-6{
    background-color: rgba(192, 192, 192, 0.5);
    border: 1px solid #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    flex-direction: column;
    transition: 0.4s linear;
    opacity: 0;
    text-shadow: 0px 3px 5px black;
} 
.text-border-6{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    text-align: center;
    width: 70%;
    height: 50%;
    box-shadow: 3px 3px 5px black;
    cursor: pointer;
}
.text-info-7{
    background-color: rgba(192, 192, 192, 0.5);
    border: 1px solid #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    flex-direction: column;
    transition: 0.4s linear;
    opacity: 0;
    text-shadow: 0px 3px 5px black;
} 
.text-border-7{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    text-align: center;
    width: 70%;
    height: 50%;
    box-shadow: 3px 3px 5px black;
    cursor: pointer;
}
.text-info-8{
    background-color: rgba(192, 192, 192, 0.5);
    border: 1px solid #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    flex-direction: column;
    transition: 0.4s linear;
    opacity: 0;
    text-shadow: 0px 3px 5px black;
} 
.text-border-8{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    text-align: center;
    width: 70%;
    height: 50%;
    box-shadow: 3px 3px 5px black;
    cursor: pointer;
}
.text-info-9{
    background-color: rgba(192, 192, 192, 0.5);
    border: 1px solid #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    flex-direction: column;
    transition: 0.4s linear;
    opacity: 0;
    text-shadow: 0px 3px 5px black;
} 
.text-border-9{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    text-align: center;
    width: 70%;
    height: 50%;
    box-shadow: 3px 3px 5px black;
    cursor: pointer;
}
.text-info-10{
    background-color: rgba(192, 192, 192, 0.5);
    border: 1px solid #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    flex-direction: column;
    transition: 0.4s linear;
    opacity: 0;
    text-shadow: 0px 3px 5px black;
} 
.text-border-10{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    text-align: center;
    width: 70%;
    height: 50%;
    box-shadow: 3px 3px 5px black;
    cursor: pointer;
}
.text-info-11{
    background-color: rgba(192, 192, 192, 0.5);
    border: 1px solid #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    flex-direction: column;
    transition: 0.4s linear;
    opacity: 0;
    text-shadow: 0px 3px 5px black;
} 
.text-border-11{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    text-align: center;
    width: 70%;
    height: 50%;
    box-shadow: 3px 3px 5px black;
    cursor: pointer;
}
.text-info-12{
    background-color: rgba(192, 192, 192, 0.5);
    border: 1px solid #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    flex-direction: column;
    transition: 0.4s linear;
    opacity: 0;
    text-shadow: 0px 3px 5px black;
} 
.text-border-12{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    text-align: center;
    width: 70%;
    height: 50%;
    box-shadow: 3px 3px 5px black;
    cursor: pointer;
}
.text-info-13{
    background-color: rgba(192, 192, 192, 0.5);
    border: 1px solid #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    flex-direction: column;
    transition: 0.4s linear;
    opacity: 0;
    text-shadow: 0px 3px 5px black;
} 
.text-border-13{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    text-align: center;
    width: 70%;
    height: 50%;
    box-shadow: 3px 3px 5px black;
    cursor: pointer;
}
.text-info-14{
    background-color: rgba(192, 192, 192, 0.5);
    border: 1px solid #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    flex-direction: column;
    transition: 0.4s linear;
    opacity: 0;
    text-shadow: 0px 3px 5px black;
} 
.text-border-14{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    text-align: center;
    width: 70%;
    height: 50%;
    box-shadow: 3px 3px 5px black;
    cursor: pointer;
}
.text-info-15{
    background-color: rgba(192, 192, 192, 0.5);
    border: 1px solid #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    flex-direction: column;
    transition: 0.4s linear;
    opacity: 0;
    text-shadow: 0px 3px 5px black;
} 
.text-border-15{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    text-align: center;
    width: 70%;
    height: 50%;
    box-shadow: 3px 3px 5px black;
    cursor: pointer;
}
.text-info-16{
    background-color: rgba(192, 192, 192, 0.5);
    border: 1px solid #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    flex-direction: column;
    transition: 0.4s linear;
    opacity: 0;
    text-shadow: 0px 3px 5px black;
} 
.text-border-16{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    text-align: center;
    width: 70%;
    height: 50%;
    box-shadow: 3px 3px 5px black;
    cursor: pointer;
}
.text-info-17{
    background-color: rgba(192, 192, 192, 0.5);
    border: 1px solid #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    flex-direction: column;
    transition: 0.4s linear;
    opacity: 0;
    text-shadow: 0px 3px 5px black;
} 
.text-border-17{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    text-align: center;
    width: 70%;
    height: 50%;
    box-shadow: 3px 3px 5px black;
    cursor: pointer;
}


/* footer is here */

footer{
    width: 100%;
    height: 50vh;
    background-color: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
    margin-top: 50px;
  }
  .foot-cont{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  .foot-cont .left-side{
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .foot-cont .left-side h1{
    font-size: 2rem;
    font-weight: 700;
  }
  .foot-cont .left-side p{
    font-size: 1.1rem;
    font-weight: 400;
  }
  .foot-cont .left-side p a{
    text-decoration: underline;
  }
  .foot-cont .left-side h2{
    font-size: 1.5rem;
    font-weight: 700;
  }
  .foot-cont .left-side input{
    padding: 10px 20px;
    border: 1px solid silver;
    border-radius: 10px;
    margin-top: 2%;
    margin-right: 2%;
  }
  .foot-cont .left-side button{
    font-size: 1rem;
    background-color: var(--orange);
    color: var(--white);
    border: none;
    border-radius: 10px;
    padding: 2% 2%;
    cursor: pointer;
  }
  
  .foot-cont .rigth-side{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }
  .foot-cont .rigth-side h1{
    font-size: 2rem;
    color: var(--white);
  
  }
  .foot-cont .rigth-side .a{
    width: 80%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }
  .foot-cont .rigth-side .a a{
    border-bottom: 1px solid silver;
    margin: 0 0.5rem;
  }
  