*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}
:root{
    --green: #465a3d;
    --orange: #C7923E;
    --white: #FFFFFF;
    --black: #000000;
    --red: #C73131;
    --smooth: #a6ab8a;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #f5f5f5;
}

   /* header is here */

header{
    width: 100%;
    height: 10%;
    background-color: var(--green);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 2%;
}
header .contact{
    display: flex;
    gap: 1.3rem;
    margin-left: 2%;
}
header .contact div i,a{
    color: var(--white);
    text-decoration: none;
}
header .contact div a:hover{
    color:var(--orange);
}
header .social{
    display: flex;
    gap: 10px;
    color: var(--white);
    font-size: 1.5rem;
    margin: 0.5rem 0rem;
    margin-right: 6%;
}
header .social i{
    cursor: pointer;
}
header .social i:hover{
    color: var(--orange)
}

    /* main nav bar is here */

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .nav{
    width: 60%;
    height: 6em;
    
}
main .nav div{
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-left: 3rem;
}
.nav nav{
    display: flex;
    gap: 1.3rem;
}
.nav nav ul{
    font-weight: 500;
    cursor: pointer;
}
.active{
    color: var(--green);
    font-weight: 600;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav button{
    width: 15%;
    height: 1.8rem;
    margin-top: 1rem;
    background-color: var(--orange);
    border: 1.5px solid var(--green);
    border-radius: 10px;
    color: var(--green);
    font-size: 1rem;
}

/* home img is here :) */
.home-img{
    width: 100%;
    height: 85vh;
    background-image: url("/public/img/home-svg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Information or facts about Mongolia is here */

.info-mongolia{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

/* information title is here */
.information{
    text-align: center;
    font-size: 32px;
}
main .p1{
    font-family: 'Roboto';
    font-weight: 700;
    color: var(--orange);
    font-size: 2rem;
    line-height: 120%;
    letter-spacing: 0.005em;
    text-align: center;
    margin-top: 3rem;
}
main .p2{
    font-family: 'Roboto';
    font-weight: 700;
    color: var(--black);
    font-size: 3rem;
    line-height: 120%;
    letter-spacing: 0.005em;
    text-align: center;
    margin-top: 1.3rem;
}
main .a1{
    color: var(--red);
}

/* information cards are here! */

figure{
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}
.info-card-img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1.3fr 1fr 1fr 1fr;
    column-gap: 16px;
    object-fit: cover;
    overflow: hidden;
}
.info-images{
    display: flex;
}
/* .info-img-1{
    grid-column: 1 / span 2 ;
    grid-row: 1;
}
.info-img-2{
    grid-column: 3 ;
    grid-row: 1 / span 2;
}
.info-img-3{
    grid-column: 4 / span 2;
    grid-row: 1;
}
.info-img-4{
    grid-column: 1;
    grid-row: 2;
}
.info-img-5{
    grid-column: 2;
    grid-row: 2;
}
.info-img-6{
    grid-column: 1;
    grid-row: 3;
}
.info-img-7{
    grid-column: 1;
    grid-row: 2;
} */
