*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}
:root{
    --green: #465a3d;
    --orange: #C7923E;
    --white: #FFFFFF;
    --black: #000000;
    --red: #C73131;
    --smooth: #a6ab8a;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #f5f5f5;
    width: 99vw;
}

   /* header is here */

   header{
    width: 100%;
    height: 50px;
    background-color: var(--green);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0px;
    z-index: 10000;
}
header .contact{
    display: flex;
    gap: 1.3rem;
}
header .contact div i,a{
    color: var(--white);
    text-decoration: none;
}
header .contact div a:hover{
    color:var(--orange);
}
header .social{
    display: flex;
    gap: 10px;
    color: var(--white);
    font-size: 1.5rem;
    margin: 0.5rem 0;
}
header .social i{
    cursor: pointer;
}
header .social i:hover{
    color: var(--orange)
}

    /* main nav bar is here */

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .nav{
    width: 100%;
    height: 6em;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 50px;
    background-color: var(--white);
    z-index: 1000000;
}
main .nav div{
  width: 60%;
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-left: 3rem;
}
.nav nav{
    display: flex;
    gap: 1rem;
}
.nav nav ul{
    font-weight: 500;
    cursor: pointer;
    color:var(--black)
}
.active{
    color: var(--green);
    font-weight: 600;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav button{
    width: auto;
    height: 1.8rem;
    margin-top: 1rem;
    background-color: var(--orange);
    border: 1.5px solid var(--green);
    border-radius: 10px;
    color: var(--green);
    font-size: 1rem;
}

 /* hamburger menu is here */

 #menuToggle
 {
   display: none;
   position: relative;
   z-index: 1;
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a
 {
   text-decoration: none;
   color: #232323;
   
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover
 {
   color: var(--orange);
 }
 
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: var(--green);
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: var(--orange);
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: absolute;
   top: 65px;
   width: 100vw;
   height: 100vh;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background: var(--white);
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }
/* body */
/* package is here */


main .pack-card{
    width: 60%;
    margin-bottom: 200px;
}
main .package{
    width: auto;
    height: auto;
    margin: 3rem 0;
}
main .p1{
    font-family: 'Roboto';
    font-weight: 700;
    color: var(--orange);
    font-size: 2rem;
    line-height: 120%;
    letter-spacing: 0.005em;
    text-align: center;
    margin-top: 3rem;
}
main .p2{
    font-family: 'Roboto';
    font-weight: 700;
    color: var(--black);
    font-size: 3rem;
    line-height: 120%;
    letter-spacing: 0.005em;
    text-align: center;
    margin-top: 1.3rem;
}
main .pack-card .cards{
    width: 100%;
    max-height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.cards .rec-card {
    display: block;
    max-width: 100%;
    height: 550px;
    margin-inline: auto;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: none;
    background: #fff;
    transform-origin: center center;
    transition: all 0.4s ease-in-out;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  
  
  .rec-card img {
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
  }
  
  
  .rec-card:hover img,
  .rec-card:focus img {
    transform: scale(1.05);
  }
  
  main .pack-card .recommended-cards .rec-card button{
    float: right;
    margin-right: 1.9rem;
  }
  main .pack-card .card-names{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.7rem 1.9rem;
  }
  main .pack-card .card-names .nat{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.7rem;
  }
  main .pack-card .card-names .fr{
    font-size: 1rem;
    color: #C0C0C0;
    font-weight: 700;
    text-align: center;
  }
  main .pack-card .card-names .p-pric{
    font-size: 1.1em;
    color: red;
    line-height: 19.2px;
    text-align: center;
    font-weight: 700;
  }
  main .pack-card .list{
    margin: 10% 0 10% 10%;
    font-weight: 400;
    margin-bottom: 30%;
  }
  main .pack-card button{
    width: 29%;
    height: 2rem;
    border: none;
    color: var(--white);
    background-color: var(--orange);
    border-radius: 10px;
    padding: 0.5rem 0;
    bottom: 20px;
    left: 20px;
    position: absolute;
  }
  .pack-card button:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: 0.6s;
  }
  .rec-card:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: 0.6s;

  }
  img {
    max-width: 100%;
  }
  

.image{
    background-image: url(../../../img/tourp-img/work1.png);
    height: 55vh;
    width: 100vw;
    background-size: cover;
}
#body{
    width: 70%;
    height: 50rem;
    background-color: var(--green);
}
.p1{
    font-family: 'Roboto';
font-weight: 700;
color: var(--orange);
font-size: 2rem;
line-height: 120%;
letter-spacing: 0.005em;
text-align: center;
margin-top: 3rem;
}
.p2{
    font-family: 'Roboto';
    font-weight: 700;
    color: var(--black);
    font-size: 3rem;
    line-height: 120%;
    letter-spacing: 0.005em;
    text-align: center;
    margin-top: 1.3rem;
}
.container{
    width: 80%;
    height: auto;
    background-color: var(--f5f5f5);
    flex-wrap: wrap;
    padding-top: -50px;
    margin-top: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 32px;
    margin-bottom: 10rem;
}
.render-1{
    background-color: var(--white);
    width: 30%;
    height: 38rem;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border : 1px solid grey;
    border-top: none;
    overflow: hidden;
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 90%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: 0.6s;
    padding-bottom: 1rem;
}
.render-1:hover{
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: 0.4s;
}
.render-2{
    background-color: var(--white);
    width: 30%;
    height: 38rem;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border : 1px solid grey;
    border-top: none;
    overflow: hidden;
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    height: 90%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: 0.6s;
    padding-bottom: 1rem;
}
.render-2:hover{
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: 0.4s;
}
.render-3{
    background-color: var(--white);
    width: 30%;
    height: 38rem;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border : 1px solid grey;
    border-top: none;
    overflow: hidden;
    grid-column: 3;
    grid-row: 1;
    width: 100%;
    height: 90%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: 0.6s;
    padding-bottom: 1rem;
}
.render-3:hover{
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: 0.4s;
}
.render-4{
    background-color: var(--white);
    width: 30%;
    height: 38rem;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border : 1px solid grey;
    border-top: none;
    overflow: hidden;
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    height: 90%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: 0.6s;
}
.render-4:hover{
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: 0.4s;
}
.render-5{
    background-color: var(--white);
    width: 30%;
    height: 38rem;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border : 1px solid grey;
    border-top: none;
    overflow: hidden;
    grid-column: 2;
    grid-row: 2;
    width: 100%;
    height: 90%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: 0.6s;
}
.render-5:hover{
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: 0.4s;
}
.render-6{
    background-color: var(--white);
    width: 30%;
    height: 38rem;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border : 1px solid grey;
    border-top: none;
    overflow: hidden;
    grid-column: 3;
    grid-row: 2;
    width: 100%;
    height: 90%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: 0.6s;
}
.render-6:hover{
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: 0.4s;
}
.render-7{
    background-color: var(--white);
    width: 30%;
    height: 38rem;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border : 1px solid grey;
    border-top: none;
    overflow: hidden;
    grid-column: 1;
    grid-row: 3;
    width: 100%;
    height: 90%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: 0.6s;
}
.render-7:hover{
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: 0.4s;
}
.render-8{
    background-color: var(--white);
    width: 30%;
    height: 38rem;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border : 1px solid grey;
    border-top: none;
    overflow: hidden;
    grid-column: 2;
    grid-row: 3;
    width: 100%;
    height: 90%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: 0.6s;
}
.render-8:hover{
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: 0.4s;
}
.render-9{
    background-color: var(--white);
    width: 30%;
    height: 38rem;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border : 1px solid grey;
    border-top: none;
    overflow: hidden;
    grid-column: 3;
    grid-row: 3;
    width: 100%;
    height: 90%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: 0.6s;
}
.render-9:hover{
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: 0.4s;
}
.render-10{
    background-color: var(--white);
    width: 30%;
    height: 38rem;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border : 1px solid grey;
    border-top: none;
    overflow: hidden;
    grid-column: 1;
    grid-row: 4;
    width: 100%;
    height: 90%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: 0.6s;
}
.render-10:hover{
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: 0.4s;
}
.render-11{
    background-color: var(--white);
    width: 30%;
    height: 38rem;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border : 1px solid grey;
    border-top: none;
    overflow: hidden;
    grid-column: 2;
    grid-row: 4;
    width: 100%;
    height: 90%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: 0.6s;
}
.render-11:hover{
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: 0.4s;
}
.render-12{
    background-color: var(--white);
    width: 30%;
    height: 38rem;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border : 1px solid grey;
    border-top: none;
    overflow: hidden;
    grid-column: 3;
    grid-row: 4;
    width: 100%;
    height: 90%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: 0.6s;
}
.render-12:hover{
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: 0.4s;
}
.words{
    margin-top: 20px;
    width: 80%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    
}
.sentense{
    width: 50%;
    font-size: 18px;
}
#wrap{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.more{
    background-color: var(--orange);
    width: 10em;
    height: 50px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    color: white;
    font-size: 15px;
    
}
.render>img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}



/* footer is here */

footer{
    width: 100%;
    height: 50vh;
    background-color: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
  }
  .foot-cont{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  .foot-cont .left-side{
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .foot-cont .left-side h1{
    font-size: 2rem;
    font-weight: 700;
  }
  .foot-cont .left-side p{
    font-size: 1.1rem;
    font-weight: 400;
  }
  .foot-cont .left-side p a{
    text-decoration: underline;
  }
  .foot-cont .left-side h2{
    font-size: 1.5rem;
    font-weight: 700;
  }
  .foot-cont .left-side input{
    padding: 10px 20px;
    border: 1px solid silver;
    border-radius: 10px;
    margin-top: 2%;
    margin-right: 2%;
  }
  .foot-cont .left-side button{
    font-size: 1rem;
    background-color: var(--orange);
    color: var(--white);
    border: none;
    border-radius: 10px;
    padding: 2% 2%;
    cursor: pointer;
  }
  
  .foot-cont .rigth-side{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }
  .foot-cont .rigth-side h1{
    font-size: 2rem;
    color: var(--white);
  
  }
  .foot-cont .rigth-side .a{
    width: 80%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }
  .foot-cont .rigth-side .a a{
    border-bottom: 1px solid silver;
    margin: 0 0.5rem;
  }
  